 <aside id="sidebar" class="sidebar">
     <div class="sidebar__content">
         <div class="widget">
             <nav class="categories">
                <ul class="categories__list">
                     <li class="categories__item">
                         <a href="/" class="categories__link">
                             <span>News</span>
                             <span>10</span>
                         </a>
                         <ul class="categories__list">
                            <li class="categories__item">
                                 <a href="#" class="categories__link">
                                     <span>News 1</span>
                                     <span>10</span>
                                 </a>
                                <ul class="categories__list">
                                    <li class="categories__item">
                                         <a href="#" class="categories__link">
                                             <span>News 2</span>
                                             <span>10</span>
                                         </a>
                                        <ul class="categories__list">
                                            <li class="categories__item">
                                                 <a href="#" class="categories__link">
                                                     <span>News 3</span>
                                                     <span>10</span>
                                                 </a>
                                             </li>
                                        </ul>
                                     </li>
                                </ul>
                             </li>
                            <li class="categories__item">
                                 <a href="#" class="categories__link">
                                     <span>Cloud</span>
                                     <span>10</span>
                                 </a>
                             </li>
                            <li class="categories__item">
                                 <a href="#" class="categories__link">
                                     <span>Product</span>
                                     <span>10</span>
                                 </a>
                             </li>
                            <li class="categories__item">
                             <a href="#" class="categories__link">
                                 <span>Community</span>
                                 <span>10</span>
                             </a>
                         </li>
                </ul>
                     </li>
                    <li class="categories__item">
                         <a href="#" class="categories__link">
                             <span>Cloud</span>
                             <span>10</span>
                         </a>
                     </li>
                    <li class="categories__item">
                         <a href="#" class="categories__link">
                             <span>Product</span>
                             <span>10</span>
                         </a>
                     </li>
                    <li class="categories__item">
                     <a href="#" class="categories__link">
                         <span>Community</span>
                         <span>10</span>
                     </a>
                 </li>
                </ul>
             </nav>
         </div>
     </div>
 </aside>